@import 'variables';

@import 'analogue';
@import 'digital';

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{ 
    min-height: 100vh;
    background-color: var(--light);
    transition: background-color 1s ease-out;

    --light : #effbff;
    --dark : #00204a;

    &.dark{
        --light: #00204a;
        --dark : #effbff;
    }

    display: flex;
    align-items: center;
}


.theme--btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background-color: var(--dark);
    border: none;
    transition: all 1s ease-out;

    display: flex;

    .toggle{
        display: inline-flex;
        width: 35px;
        height: 25px;
        border-radius: 15px;
        position: absolute;
        top: -2.5px;
        bottom: -2.5px;
        left: -2.5px;
        background-color: var(--light);
        border: 1px solid var(--dark);
        transition: all 1s linear;
    }

    .current{
        left: 27.5px;
    }
}

.clock--btn{
    position: fixed;
    top: 10vh;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    border: none;
    display: flex;
    background: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);

    span{
        padding: 10px 20px;
        width: 50%;
        transition: all 1s ease-in;

        &.current--clock{
            background-color: $light-blue;
        }
    }

}


.clock{
    width: 200vw;
    display: flex;
    // border: 1px solid red;
    justify-self: center;

}